@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Modak&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
        --font-family: 'Ubuntu', sans-serif;

        --dialog-font-color: #006600;

        --dialog-button: #CDA2BE;
        --dialog-font-color-button: #ffffff;
        --dialog-font-color-button-hover: #CDA2BE;
        --dialog-button-hover: #ffffff;

        --dialog-label: #006600;

        --dialog-select: #CDA2BE;
        --dialog-font-color-select: #ffffff;

        --dialog-select-selected: #CDA2BE;

        --separator-color: #006600;

        --shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

html {
        background: linear-gradient(#050505, #18181d);
        font-family: var(--font-family);
}

button {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--dialog-button);
        color: var(--dialog-font-color-button);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: var(--shadow);
        transition: background-color 0.3s, color 0.3s;
        text-transform: uppercase;
}
  button:hover {
        background-color: var(--dialog-button-hover);
        color: var(--dialog-font-color-button-hover);
        transition: background-color 0.3s, color 0.3s;
}

select {
        padding: 10px 20px;
        background-color: var(--dialog-select);
        color: var(--dialog-font-color-select);
        border: none;
        border-radius: 5px;
        box-shadow: var(--shadow);
        transition: background-color 0.3s, color 0.3s;
        text-transform: uppercase;
}
  select:hover {
        background-color: var(--dialog-button-hover);
        color: var(--dialog-font-color-button-hover);
        transition: background-color 0.3s, color 0.3s;

}
  select:focus {
        border: none;
        outline: none;
}
    select:focus option:checked {
            background: var(--dialog-select-selected)
                        linear-gradient(
                        0deg,
                        var(--dialog-select-selected) 0%,
                        var(--dialog-select-selected) 100%
                        );
    }

label {
        color: var(--dialog-label);
        font-size: 1.1rem;
}

.hide-card {
        display: none;
        transition: display 0.5s;
}

.show-card {
        display: block;
        transition: display 0.5s;
}

.container {
        padding: 50px 200px;
}

.separator {
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--separator-color);
        margin: 10px 0px;
}

.dialog {
        margin: 30px 0px 0px 50px;
}

.dialog p {
        font-size: 1.5rem;
        color: var(--dialog-font-color);
}

.avatar .avatar-image {
        background: linear-gradient(#6A6A6A, #FFFFFF);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: var(--shadow);
}

.avatar .avatar-image img {
        width: 100px;
        margin: 0 auto;
}

.avatar .avatar-name {
        display: block;
        position: relative;
        width: 300px;;
        margin: 40px 0px 0px 20px;
        width: 500px;
}

.avatar .avatar-name span {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--dialog-font-color);
}

.dialogs .say-your-name,
.dialogs .create-necklace,
.dialogs .materials-diversification,
.dialogs .materials-family,
.dialogs .materials-distribution,
.dialogs .materials-ordenation,
.dialogs .materials-color,
.dialogs .see-necklace,
.dialogs .necklace-image,
.dialogs .create-other-necklace,
.dialogs .start-again,
.dialogs .call-grandmamma {
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--shadow);
        margin: 30px 0px;
        background: linear-gradient(#5aa157, #D5E8D4);
        box-shadow: 5px 5px 20px rgba(0, 255, 0, 0.7);
}

.dialogs .say-your-name .dialog input {
        width: 300px;
        margin-bottom: 30px;
        border: none;
        outline: none;
        border-bottom: 1px solid #006600;
        background-color: transparent;
        font-size: 1.5rem;
        color: var(--dialog-font-color);
}
  .dialogs .say-your-name .dialog input:focus {
          border: none;
          outline: none;
          border-bottom: 1px solid #006600;
}

.dialogs .materials-family .materials,
.dialogs .materials-ordenation .sequence,
.dialogs .necklace-image .necklace,
.dialogs .materials-color .colors {
        display: block;
        margin-bottom: 30px;
}

.dialogs .materials-ordenation .sequence label {
        display: block;
        margin-bottom: -10px;
        text-transform: capitalize;
}

.dialogs .materials-family .dialog .materials select {
        overflow-y: auto;
}

.dialogs .materials-family .dialog .material-images img {
        margin: 0px 20px 20px 0px;
        width: 80px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s;
        box-shadow: var(--shadow);
        padding: 5px;
}
  .dialogs .materials-family .dialog .material-images img:hover {
          transform: scale(1.2);
          transition: transform 0.3s;
  }

.dialogs .materials-color .dialog .colors input {
        background-color: transparent;
        border: none;
        transform: scale(1);
        transition: transform 0.3s;
}
  .dialogs .materials-color .dialog .colors input:hover {
          cursor: pointer;
          transform: scale(1.2);
          transition: transform 0.3s;
  }

.dialogs .materials-color .dialog .colors label {
        display: inline-block;
        margin-right: 10px;
}

.necklace {
        border: 1px solid #006600;
        border-radius: 10px;
        background-color: #CCCCCC;
        padding: 30px 80px;
        box-shadow: var(--shadow);
}

.necklace img {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 30px;
}
